/* User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size.

User Story #9: The img element should be centered within its parent element. */

/* #main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 
    'h1 h1 section section section'
    'figure figure section section section'
    'p p section section section '
    ;
    grid-gap: 10px;
	max-width: 1020;
    margin: 0 auto;
}

h1{
    grid-area: h1;
}

p{
    grid-area: p;
}

section{
    grid-area: section;
}

figure{
    grid-area: figure;
}

figure{
    display: flex;
}

figure img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
} */

body{
    background-image:url(assets/green-leaf-1353938.jpg) ;
    font-family: 'Playfair Display', serif;
    background-size: cover;
}
#main {
display: flex;
width: 100%;
margin: 2rem auto;  
justify-content: center;

}

#img-grid{
    display: grid;
    grid-template-columns: repeat(8, 4vw);
    grid-template-rows: repeat(8, 4vw);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-gap: 1.5rem; 

}

#img-grid img{
 width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  
 
}

.one {
    grid-column: 1 /3;
    grid-row: 1/3;
  
  }
  
  .two{
    grid-column: 3/ 5;
    grid-row: 1/ 3;
  }
  
  .three {
    grid-column: 5/ 9;
    grid-row: 1/ 6;
  }
  
  .four {
    grid-column: 1/ 5;
    grid-row: 3/ 6;

  }
  
  .five {
    grid-column: 1 / 5;
    grid-row: 6/ 9;
  }
  
  .six {
    grid-column: 5 / 9;
    grid-row: 6/ 9;
  }


  #img-div #image{
    max-width: 50%;
    height: auto;
    border-radius: 95% 100%;
   margin: auto;
  }

  #title-div >p{
      font-weight: 400i;
  }

  #title h1{
      font-weight: 700;
  }